{% load static %}

{% block content %}

 <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>About Us</h3>
            <p>
              MJ & SK is a software company that provides services to develop different software programs for businesses
              and professionals. <br> <br> 
              This company offers software programs to individuals who have the skills. 
              <br><br> <b> MJ & SK </b>
              is also an institute of technology.
              <br><br>
              we deliver the projects on time we deliver products in 09 working days we pay project base/hour base.
            </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

{% endblock %}